/* VARIABLES CSS */
:root {
    --color-principal: #2c2c2c;
    --color-secundario: #d4a373;
    --color-fondo: #f5f5f5;
}

/* BOX SIZING GLOBAL */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* SELECTOR DE ELEMENTO */
body {
    font-family: Arial, sans-serif;
    background-color: var(--color-fondo);
    padding: 30px;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    color: var(--color-principal);
}

/* CONTENEDOR */
.contenedor-tarjetas {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

/* SELECTOR DE CLASE */
.tarjeta {
    width: 300px;
    background-color: white;

    /* MARGIN:
       separacion entre tarjetas */
    margin: 10px;

    /* PADDING:
       espacio interno */
    padding: 15px;

    /* BORDER:
       borde visible */
    border: 2px solid #cccccc;

    border-radius: 10px;
    text-align: center;
}

/* IMAGEN */
.tarjeta img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

/* TITULO */
.tarjeta h2 {
    margin-top: 15px;
    color: var(--color-principal);
}

/* DESCRIPCION */
.tarjeta p {
    margin: 15px 0;
    color: #666;
}

/* PRECIO */
.precio {
    display: block;
    margin-bottom: 15px;
    font-size: 20px;
    color: var(--color-secundario);
    font-weight: bold;
}

/* BOTON */
button {
    background-color: var(--color-secundario);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

/* PSEUDO-CLASE */
button:hover {
    background-color: #bc8a5f;
}   

/* EFECTO HOVER EN TARJETAS */
.tarjeta:hover {
    border: 2px solid var(--color-secundario);
}